// 色の変数
$pg-green: #42a878;
$pg-red: #dc2430;
$pg-purple: #7b4397;
$pg-gradient: linear-gradient(45deg, $pg-purple, $pg-red);
$general-black: #333333;
$general-white: #f5f5f5;
$light-white: #cecece;
$transparent-white: rgba(245, 245, 245, 0.8);

// ロゴのフォント
@font-face {
  font-family: 'Poppins';
  src: local('Poppins Bold'), src('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

%center {
  margin: 0 auto;
  text-align: center;
}

%gradient-text {
  background: $pg-gradient;
  -webkit-background-clip: text;
  color: transparent;
}
